@import "../../styles/constants.scss";

.at-home-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $min-slide-height;

  .inner-div {
    padding: 0px 320px;
    width: 900px;

    .slogan {
      font-size: 90px;
      font-weight: 600;
      color: $primary-accent-color;
      line-height: 125%;

      &-subtitle {
        margin-top: 8px;
        font-size: 24px;
      }
    }

    .call-to-action-button {
      margin-top: 32px;
    }
  }
}
