@import "../../styles/constants.scss";

.at-schedule-slide {
  .at-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .at-radio-button {
    margin-bottom: 32px;
  }

  .at-event-card {
    display: flex;
    padding: 32px 0px;

    flex-direction: column;

    border-bottom: 1px solid $primary-accent-color;

    &:last-child {
      border-bottom: none;
    }

    .at-event-header {
      display: flex;
      flex-direction: row;

      gap: 32px;
      align-items: center;
      margin-bottom: 8px;

      .at-host-image-wrapper {
        .at-host-image {
          width: 80px;
          height: 80px;

          object-fit: cover;
          border-radius: 100%;
        }
      }

      .at-host-data-wrapper {
        .at-host-name {
          font-weight: 500;
          font-size: 24px;
        }

        .at-host-description {
          color: $primary-dark-color;
          opacity: 80%;
        }
      }
    }

    .at-event-name {
      font-size: 28px;
      font-weight: 500;
    }

    .at-event-time-and-location {
      font-size: 16px;
      font-weight: 300;
      opacity: 80%;
      margin-bottom: 8px;
    }
  }
}
